openapi: 3.1.0
info:
  title: Northflank Addons API
  version: v1
  description: Minimal OpenAPI 3.1 description of the Northflank REST API for managing projects, services, jobs, and addons on the Northflank platform.
  x-generated-from: https://northflank.com/docs/v1/api/
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.northflank.com/v1
  description: Northflank API production server
security:
- bearerAuth: []
tags:
- name: Addons
paths:
  /projects/{projectId}/addons:
    get:
      tags:
      - Addons
      summary: List addons in a project
      operationId: listAddons
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: A list of addons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericListResponse'
    post:
      tags:
      - Addons
      summary: Create an addon
      operationId: createAddon
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: The created addon.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
  /projects/{projectId}/addons/{addonId}:
    get:
      tags:
      - Addons
      summary: Get an addon
      operationId: getAddon
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: addonId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: An addon.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
    delete:
      tags:
      - Addons
      summary: Delete an addon
      operationId: deleteAddon
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: addonId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deletion acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
components:
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
    GenericListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GenericObject'
      additionalProperties: true
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
