openapi: 3.1.0
info:
  title: Northflank Addons Jobs API
  version: v1
  description: Minimal OpenAPI 3.1 description of the Northflank REST API for managing projects, services, jobs, and addons on the Northflank platform.
  x-generated-from: https://northflank.com/docs/v1/api/
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.northflank.com/v1
  description: Northflank API production server
security:
- bearerAuth: []
tags:
- name: Jobs
paths:
  /projects/{projectId}/jobs:
    get:
      tags:
      - Jobs
      summary: List jobs in a project
      operationId: listJobs
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: A list of jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericListResponse'
    post:
      tags:
      - Jobs
      summary: Create a job
      operationId: createJob
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: The created job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
  /projects/{projectId}/jobs/{jobId}/run:
    post:
      tags:
      - Jobs
      summary: Run a job
      operationId: runJob
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Run acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
components:
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
    GenericListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GenericObject'
      additionalProperties: true
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
